{% extends "base.html" %}

{% block title %}Marcus: Chinese{% endblock%}

{% block head_links %}
<link rel="stylesheet" href={{  url_for("static", filename="css/chinese.css")  }}>
{% endblock %}

{% block quote %}
    <blockquote>
        <h2 id="quote">"Learning is a treasure that will follow its owner everywhere…  学习是永远跟随主人的宝物 [學習是永遠跟隨主人的寶物] Xuéxí shì yǒngyuǎn gēnsuí zhǔrén de bǎowù]"</h2>
        <footer><h3 id="quote">-Chinese Proverb</h3></footer>
    </blockquote>
{% endblock %}

{% block right_aside %}
    <p>Interesting Chinese thing 1</p>
    <p>Interesting Chinese thing 2</p>
    <p>Interesting Chinese thing 3</p>
    <p>Interesting Chinese thing 4</p>
{% endblock %}

{% block section_content %}

<h2>Chinese content</h2>

{% endblock %}