{% extends "base.html" %}

{% block title %}Marcus: Developer{% endblock%}

{% block head_links %}
<link rel="stylesheet" href={{  url_for("static", filename="css/developer.css")  }}>
{% endblock %}

{% block quote %}
    <blockquote>
        <h2 id="quote">"Never trust a computer you can't throw out a window."</h2>
        <footer><h3 id="quote">-Steve Wozniak</h3></footer>
    </blockquote>
{% endblock %}

{% block right_aside %}
    <p>Interesting thing 1</p>
    <p>Interesting thing 2</p>
    <p>Interesting thing 3</p>
    <p>Interesting thing 4</p>
{% endblock %}

{% block section_content %}

<h2>Developer content</h2>

{% endblock %}