{% extends "base.html" %}

{% block title %}Marcus Willock{% endblock%}

{% block head_links %}
<link rel="stylesheet" href={{  url_for("static", filename="css/home.css")  }}>
{% endblock %}

{% block quote %}
    <blockquote>
        <h2 id="quote">"Always be yourself, express yourself, have faith in yourself, do not go out and look for a successful personality and duplicate it."</h2>
        <footer><h3 id="quote">-Bruce Lee</h3></footer>
    </blockquote>
{% endblock %}

{% block right_aside %}
    <p>Interesting thing 1</p>
    <p>Interesting thing 2</p>
    <p>Interesting thing 3</p>
    <p>Interesting thing 4</p>
{% endblock %}

{% block section_content %}

{% endblock %}