{% extends "base.html" %}

{% block title %}Marcus Willock{% endblock%}

{% block head_links %}
<link rel="stylesheet" href={{  url_for("static", filename="css/home.css")  }}>
{% endblock %}

{% block quote %}
    <blockquote>
        <h2 id="quote">"Always be yourself, express yourself, have faith in yourself, do not go out and look for a successful personality and duplicate it."</h2>
        <footer><h3 id="quote">-Bruce Lee</h3></footer>
    </blockquote>
{% endblock %}

{% block right_aside %}
    <p>Interesting thing 1</p>
    <p>Interesting thing 2</p>
    <p>Interesting thing 3</p>
    <p>Interesting thing 4</p>
{% endblock %}

{% block section_content %}
    <h2 id="section_title">Who, When, Where, When, and Why</h2>

    <article>
        <p id="article_title">Who am I?</p>
        <p id="body">My name is Marcus Willock, and I am person that
            dedicates themselves to learning. I gain pleasure from being a
            little bit smarter than I was yesterday. For a long while, my
            largest monthly expense was the purchasing of books. Later in
            life I learned that owning a ton of books while moving sucks!
            Since then, those books have either been replaced by digital
            copies or thrown out.</p>

        <p id="body">lifeExperience++;</p>
    </article>

    <article>
        <p id="article_title">What is the meaning of crazcalm?</p>
        <p id="body">For those who do not know, crazcalm is my online
            handle. Anyway, back in the day when I decided to create an AOL
            instant messenger account, I did not know what my username
            should be. Luckily, they had a username generator that took in
            three words and generate a list of possible names.</p>

        <p id="body">I choose the words "crazy", "calm", and I cannot
            recall the third word used. Anyway, crazcalm was one of the
            names that the generator gave me, and I have been using it ever
            since.</p>
    </article>

    <article>
        <p id="article_title">Where did you learn how to program?</p>
        <p id="body">I learned how to program at Rutgers University while
            studying to become a Chinese language teacher. Long story short,
            I have always been interested in programming, but, as an
            undergraduate, I did not have any free time to study it.</p>

        <p id="body">Hovever, once I got to Graduate school, I suddenly had
            more free time than I knew what to do with! I picked up
            programming, I joined the CS clubs on campus, I attended
            hackathons, and, eventually, I dropped out of my program to
            pursue a career in programming.</p>
    </article>

    <article>
        <p id="article_title">When was the first time you felt stupid?</p>
        <p id="body">Probably as a child. I have a hard time registering
            time. For example, one of my friends has two birthdays in my
            google calender, because I can never remember if her birthday is in
            the fall or the spring. So I send her a gift on for both
            birthdays.</p>

        <p id="body">Another example can be taken from my college years. Up
            until graduation, I always thought a semester was 3 months long...</p>
    </article>

    <article>
        <p id="article_title">Why do you program?</p>
        <p id="body">I program for a number of reason, but my initial reason
            was because programming fulfilled a promise that math could not.
            The lie that you are told in mathematics is that, "Once you
            prove something, you will never have to prove it again," which
            is not true for students because all of your proofs, which are
            written on paper, get thrown away at the end of class. With
            code, I can commit everything to my github and reuse it when
            needed!</p>

        <p id="body">Since then, I have a ton of reasons as to why I should
            program, but most of them boil down to the fact that I enjoy
            programming</p>
    </article>

{% endblock %}